body {
    background-color: rgb(240,240,240);
}

div {
    font-family: 'Ubuntu', sans-serif;
	color:Black;
}

.header {
	text-align: center;
    color: Blue;
	font-size: 300%;
	padding: 30px;
}

a.links {
    background-color: blue;
    box-shadow: 0 5px 0 darkblue;
    color: white;
    padding: 15px 20px;
    position: relative;
    margin-top:25%;
    text-decoration: none;
}

a:hover {
    background-color: darkblue;
}

a:active {
    box-shadow: none;
    top: 5px;
}

.resume {
	text-align: center;
	padding: 100px;  /* space between Header and Button */
}

.buttonResume {
	background-color: #4CAF50;
    border-color: #4c9050;
    color: white;
    padding: 35px 45px;
    font-size: 32px;
    cursor: pointer;
}

.buttonResume:hover {
	background-color: #4c9050;
}

/* this doesn't work yet */
.buttonResume:active {
    top: 5px;
}

iframe.resumeFrame {
	border:1px solid black;
	width: 1200px;
	height: 800px;
}