body {
    background-color: rgb(240,240,240);
}

div {
    font-family: 'Ubuntu', sans-serif;
}

.header {
	text-align: center;
    color: Blue;
	font-size: 300%;
	padding: 30px;
}

a.links {
  position: relative;
  display: inline-block;
  padding: 15px 70px;
  border: 5px solid #4c9050;
  color: #4CAF50;
  font-size: 30px;
  font-family: arial;
  background-image: linear-gradient(#4CAF50, #4CAF50);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  text-decoration: none;
  transition: background-size .5s, color .5s;
}

a.to_left {
    background-position: 100% 50%;
}

a.to_right {
    background-position: 0% 50%;
}

a:hover {
  background-size: 100% 100%;
  color: #fff;
}

a:active {
    box-shadow: none;
    top: 2px;
}

.resume {
	text-align: center;
	padding: 100px;  /* space between Header and Button */
}

.buttonResume {
	background-color: #4CAF50;
    border-color: #4c9050;
    color: white;
    padding: 35px 45px;
    font-size: 32px;
    cursor: pointer;
}

.buttonResume:hover {
	background-color: #4c9050;
}

/* this doesn't work yet */
.buttonResume:active {
    top: 5px;
}

iframe.resumeFrame {
	border:1px solid black;
	width: 1200px;
	height: 800px;
}